footer(class="footer")
  .footer-container
    .footer-column
      h3(class="footer-logo") LOGO
      p Trang web thời trang hiện đại, phục vụ khách hàng tốt nhất.

    .footer-column
      h4 Thông tin
      ul
        li: a(href="#") Giới thiệu
        li: a(href="#") Tin tức
        li: a(href="#") Tuyển dụng

    .footer-column
      h4 Hỗ trợ
      ul
        li: a(href="#") Hướng dẫn mua hàng
        li: a(href="#") Chính sách đổi trả
        li: a(href="#") Chính sách bảo mật

    .footer-column
      h4 Liên hệ
      p Hotline: 0123 456 789
      p Email: support@example.com
      .social-icons
        a(href="#"): img(src="/images/facebook.png", alt="Facebook", width="24")
        a(href="#"): img(src="/images/instagram.png", alt="Instagram", width="24")
        a(href="#"): img(src="/images/tiktok.png", alt="TikTok", width="24")

  .footer-bottom
    p  Nguyen Hoang Hiep
