extend ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-category.pug

block main 
  +alert-success()
  +alert-error()

  if role.permissions.includes('category_create')
    h1.titlePage Thêm mới danh mục
    form(action='/admin/categories/create' method='POST' enctype='multipart/form-data')
      div(class='container mt-4')
        div(class='mb-3')
          label(class='form-label' for='name') Tên danh mục
          input(class='form-control' type='text' id='name' name='name')
        
        div(class='mb-3')
          label(class='form-label' for='thumbnail') Ảnh đại diện
          input(class='form-control' type='file' id='thumbnail' name='thumbnail' accept='image/*')
          img(src='' id='imgThumbnail' name='imgThumbnail' class='d-none')

        div(class='row')
          div(class='col-md-6 mb-3')
            label(class='form-label' for='parent_id') Danh mục cha
            select(class='form-select select' id='parent_id' name='parent_id')
              option(value='') -- Chọn danh mục  cha --
              +selectCategory(categories, '', 1)
          
          div(class='col-md-3 mb-3')
            label(class='form-label' for='gender') Giới tính
            select(class='form-select' id='gender' name='gender')
              option(value='') -- Chọn giới tính --
              option(value='Nam') Nam
              option(value='Nữ') Nữ
              option(value='Trẻ em') Trẻ em
          
          div(class='col-md-3 mb-3')
            label(class='form-label' for='status') Trạng thái
            select(class='form-select' id='status' name='status')
              option(value='active') Hoạt động
              option(value='inactive') Dừng hoạt động

        div(class='mb-3')
          label(class='form-label' for='description') Mô tả
          textarea(class='form-control' id='description' name='description' rows='2')

        div(class='d-flex justify-content-center')
          button(class='btn btn-primary' type='submit') Thêm danh mục
  else 
    h1.titlePage Bạn không có quyền thêm danh mục
